* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body{
	font-size: 20px;
	font-family: Georgia, serif;
	line-height: 1.618em;
}

p {
	margin-bottom: 1.5em;
}

h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	font-variant: small-caps;
	line-height: 1.618em;
}

.link {
	border-bottom: solid 1px #000;
}

a {
	text-decoration: none;
	color: #000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
									/*HEADER*/
header {
    font-size: 1.2em;
    padding-bottom: 1em;
    margin: .8em 0;
}

header h1 {
	float: left;
	margin-left: 1em;
	font-variant: small-caps;
}

header h1:hover {
	text-decoration: underline;
}

header nav {
	float: right;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	list-style-type: none; 
	padding-right: 2em;
	font-size: 1em;
	font-variant: small-caps;
}
header a:hover {
	text-decoration: underline;
}

										/*Main*/
#blog-pic {	
	width: 25%;
	min-width: 150px;
	-moz-border-radius: 15%;
    -webkit-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
	border-radius: 15%;
	display: block;
	margin: 0 auto 2.5em;
	border: solid #000 1px;
}

#main {
	background-color: #00BCD4;
	width: 100%;	
	padding: 2em;
}

#main h2 {
	text-align: center;
	margin: 1em;
}

#left-block {
	float: left;
	width: 45%;
}

#right-block {
	float: right;
	width: 45%;
}

#below-tweets {
	margin-top: 1em;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

#sign-off {
	margin: 1.5em 0;
    font-size: 1.25em;
}

@media screen and (max-width: 950px) { 

	.wrapper {
		width: 100%;
	}
	body {
		font-size: 16px;
	}
}

@media screen and (max-width: 700px) { 
	#left-block {
		float: none;
	    width: 90%;
	    margin: auto;
	}

	#right-block {
		float: none;
		width: 90%;
		margin: auto;
	}

	#disappear {
		display: none;
	}
}

@media screen and (max-width: 530px) { 
	h2 {
		font-size: 1.27em;
	}
	
}

                                    